@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');


body{
    margin: 0;
    }
    
    
    /* Login */
    
    .login_container{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    }
    
    .login_form{
    height: 50%;
    width: 50%;    
    }
    
    .login_container input {
        margin: 10px;
        border: none;
        border-bottom: 3px solid black;
    }
    
    .submit{
        background-color: #000000;
        color: #EEEEEE;
        }
    
/* CREATE AN ACCOUNT */
    
.sign_up_container{
    display: flex;
    position: relative;
    height: 65vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    }
    
    .form{
    font-size: larger;
    height: 50%;
    width: 10%; 
    align-items: center;
    justify-content: center; 
    margin: 10px; 
    
    }
    
    .sign_up_container input {
        margin: 10px;
        border: none;
        border-bottom: 3px solid black;
    }
    
    .form submit{
        
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        }
/* ADD A PET */

.Add_pet_container{
    display: flex;
    position: relative;
    height: 35vh;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.Add_pet_container input {
    margin: 10px;
    border: none;
    border-bottom: 3px solid black;
}

.pet_submit{
        
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    }



/* PET EDIT FORM */
.edit_pet_container{
    z-index: 10;
    background-color: rgba(128, 128, 128, 0.399);
    border-style: solid;
    width: 50vw;
    height: 50vh;

}

    



/* EDIT PROFILE */

.edit_profile_container{
    display: flex;
    position: relative;
    height: 35vh;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.edit_profile_container input {
    margin: 10px;
    border: none;
    border-bottom: 3px solid black;
}

.edit_submit{
        
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    }
    



    
    /* NAVBAR */

    .navbar_img{
        height: 250px;
        width: 250px;
        margin-top: 5px;
    }
    
    .navbar_container{
    background-color: #EEEEEE;
    border: 1px solid black;
    display: flex;
    height: 250px;
    width: 100%;
    
    justify-content: space-between;
    
    }

    .nav_ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items:flex-end;
        top: 0;
        

    }

    .title_container{
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-right: 10px;


    }
    
    
    .title{
        /* align-content: center;
        justify-content: center; */
   
        margin: 0;
        font-size: 100px;
        font-family: 'Rubik Distressed', cursive;
        font-weight: 400;
    

    }
    
    .navbar_header{
        display: flex;
        align-items: center;
       width: 30%;
    }
    
    .welcome_msg{
    margin-bottom: 20px;
    font-family: cursive;
    margin-left: 2px;
    }
    
    .button-container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
    }
    
    .nav_buttons{
        text-decoration: none;
        margin: 10px;
        color: #000000;
    }
    
    
    /* HOME PAGE */
    
    .home{
        justify-content: center;
        align-items: center;
    }
    
    .quote{
        display: flex;
        height: 300px;
        width: 500px;
    }
    
    .home_btn_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .home_buttons{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
    }
    
    .text{
        font-family: 'Times New Roman', Times, serif;
        height: 400px;
        width: 400px;
        font-size: large;
    
    }
    
    .text p {
        margin-top: 20px;
    }
    
    
    
    
    /* USER PAGE  */
    
    /* .hero_container{
    width: 100%;
    }
    

    
 
 
    
    .user_info{
    
    } */

    .user_container{
    display: block;
    margin-top: 5px;
    margin-left: 8px;            
    }

    .user_card{
        height: 300px;
        width: 250px;
    }
    
       .img_size{
        width: 100px;
        height: 100px;
        border-radius: 40%;
    }

      .user_header{
        display: flex;
        align-items: center;
        align-content: center;
    } 
    
.user_info{
    display: block;
    height: 300px;
    width: 250px;
    }


    
    
    /* Dog containter */
    
    .dog_container{
        display: flex;
        justify-content: center;
        
    }
    
    .dog_header{
        display: flex;
        align-items: center;
        align-content: center;
    }
    

    .dog_card{
        height: 320px;
        width: 250px;
        border-style: solid;
        margin: 0;
        margin-right: 0;
        margin-right: 5px;  


    }


    .dog_img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .button_container{        
        justify-content: center;
        align-content: center;
        display: flex;
    }


    .pet_card_buttons{        
        background-color: #4CAF50;
    }
    
    
    
    
    
    /* FOOTER */
    
    .footer{
        background-color:#EEEEEE;
        border: 1px solid #000000;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 150px;
        
    }
    
    .brand{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .social_media button{
        z-index: 10;
        border-radius: 50%;
        cursor:pointer;
        width: 50px ;
        height: 50px;
    }
    
    .social_network{
        background-image: url('https://cdn-icons-png.flaticon.com/512/124/124010.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    .social_network2{
        background-image: url('https://i.pinimg.com/564x/5e/ff/6c/5eff6c25d920f6a78fda288e6589bf8b.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    .social_network3{
        background-image: url('https://cdn-icons-png.flaticon.com/512/124/124021.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .summary{
        width: 400px;
    }

    .brand{
        display: flex;
    }
    
    
    